{% extends "base.html.twig" %}

{% block title %}SymCovoit - Inscription {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Création d'un utilisateur</h1>
        {# {{ form(form)}} #}
        {{ include('user/_form.html.twig')}}
    </div>
    <a href="{{ path('user_index')}}">Retour à la liste des utilisateurs</a>
{% endblock %}

